*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Calligraffitti';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/calligraffitti-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Cambo';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/cambo-v17-latin-regular.woff2') format('woff2');
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Cambo';
    color: #514444;
}

a{
    text-decoration: none;
    color: #514444;
}

a:hover{
    opacity: .4;
}

li{
    list-style: none;
}

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

p{
    font-size: 18px;
    font-weight: 400;
}

pre{
    padding-left: 15px;
}

span{
    font-weight: bold;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background: linear-gradient(to right, #e3cbb7 30%, #fef8f9 65%);
}

.subtitle{
    margin: 10px 0 30px 120px;
    font-style: bold;
    font-weight: 500;
    font-size: 44px;
    line-height: 44px;
}

.header_list{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
}

.header_item{
    margin-right: 30px;
}

.header_link{
    font-size: 18px;
}

.main_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}

.about_me_wrap{
    display: flex;
    height: 500px;
    margin-left: calc(50% - 540px);
    border-radius: 250px 0 0 250px;
    background-color: white;
}

.about_me_photo{
    display: flex;
}

.about_me_img{
    align-self: center;
    margin-left: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.about_me{
    display: flex;
    flex-direction: column;
    padding-left: 4.5%;
}

.about_me_title{
    width: 200px;
    padding-top: 35px;
    margin-bottom: 35px;
    font-style: bold;
    font-weight: 1700;
    font-size: 70px;
    line-height: 70px;
}

.about_me_title_desc{
    padding-bottom: 40px;
    line-height: 10px;
}

.about_me_desc{
    padding-right: 100px;
    font-family: 'Calligraffitti';
    font-size: 18px;
    font-weight: 600;
}

.content_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    padding: 0 40px 0 100px;
}

.contact_wrap{
    display: flex;
    flex-direction: column;
}

.contact_item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.phone,
.email,
.telegram,
.discord{
    margin-right: 30px;
}

.education_desc,
.courses_list,
.skills_list,
.languages_list{
    padding: 15px 0 10px 15px;
}

.courses_link,
.skills_item{
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 400;
}

.courses_item{
    padding-bottom: 15px;
}

.skills_list{
    padding-top: 0;
    padding-left: 0;
}

.skills_item{
    display: flex;
    align-items: center;
}

.skills_item_desc{
    margin-right: 25px;
}

.progress_wrap {
    position: relative;
    display: block;
    width: 140px;
    height: 13px;
    border-radius: 10px;
    background-color: #fef8f9;
}

.progress_bar {
    display: block;
    height: 100%;
    border-radius: 10px;
    background-color: #514444;
}

.progress_bar::after {
    position: absolute;
    content: attr(data-value) '%';
    top: 50%;
    left: 50%;
    font-size: 10px;
    color: #fef8f9;
    transform: translateX(-50%) translateY(-50%);
}

.work_experience_item{
    margin-bottom: 15px;
}

.work_experience_item_desc{
    padding: 10px 0 15px 15px;
}

.languages_list{
    padding-top: 0;
    padding-left: 0;
}

.languages_item{
    padding-bottom: 15px;
    font-size: 18px;
}

.footer_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 660px;
    margin: 0 auto;
    padding: 25px 0;
}

.year{
    font-size: 50px;
}
